<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Help Page</title>
    </head>
    <body>
        <h1>Maintenance Page</h1>
        <p>The site is in the maintenance mode!!</p>
    </body>
</html>